.readon2{
    background-color: #273857 !important;
}
.media-icon .popup-videos {
    background-color: #273857 !important;
}

.sec-title .sub-title.primary {
    color: #273857 !important;
}
.scrollup i {
    background-color: #273857 !important;
}