.pagination-area .pagination-part {
  display: inline-flex !important;
  padding: 0 5px 0 10px;
  height: 60px;
  line-height: 60px;
  box-shadow: 0px 8px 26px 0px rgb(0 0 0 / 10%);
}

.cart {
  height: 30px;
  width: auto;
  min-height: 30px;
  min-width: 30px;
}

.cart:hover {
  cursor: pointer;
}

.toRight {
  float: right;
}

.eclipse {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media only screen and (max-width: 991px) {
  .md-pt-70 {
    padding-top: 0px;
  }
}

// .goToCart{
//     height: 50px;
//     width: auto;
//     border: 2px solid black;
//     border-radius: 5px;
//     padding: 5px;
// }
.cartPage {
  background-color: #6483d8 !important;
}

.save {
  height: 30px;
  width: auto;
  margin-left: 10px;
}

.dropdown {
  padding: 47px 10px;
}

.show {
  visibility: visible;
}

.moveToSearch {
  width: auto;
  height: 40px;
  background-color: $orangeColor;
  color: white;
  border: none;
  margin-left: 10px;
}

.updateVideo {
  background-color: #6483d8;
  padding: 10px 30px;
  font-size: 16px;
}

.playlistWidgetTitle {
  margin: 0px;
  padding: 45px 0px 45px 15px !important;
  min-width: 191px;
}

.plus {
  min-width: 40px;
  text-align: center;
  cursor: pointer;
  // right: 20px;
  z-index: 999;
  border-radius: 50px 50px 4px 4px;
}

.plus i {
  display: block;
  background: #21a7d0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 2px rgb(0 0 0 / 40%);
}

.plus i {
  background-color: #6483d8 !important;
}

// .search-button {
//     border: none;
//     background: #fff;
//     border-radius: 50%;
//     border: 6px solid #fff;
//     position: relative;
//     left: 40px;
//     top: 10px;
//     color:rgba(115, 139, 239, 0.7);
//     box-shadow: 0 0 2px 2px rgba(115, 139, 239, 0.7);
//     z-index: 2;
//     transition: .4s;
// }

.search-button {
  border: 0;
  position: relative;
  background: transparent;
  right: 55px;
  padding: 12px 20px;
  z-index: 3;
}

.search-button:hover {
  transform: scale(1.2);
}

.search-window {
  width: 100%;
  margin-left: 50px;
  position: relative;
  z-index: 2;
  border: 1px solid lightgray;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top: none;
}

// .search-window-fade-in {
//     animation: fade-in .5s ease-in-out;
// }

// .search-window-fade-out{
//     animation: fade-out .5s ease-in-out;
//     animation-fill-mode: forwards;
// }

// @keyframes fade-in {
//     0% {
//         transform: translateY(-150%);
//     }
//     100% {
//         transform: translateY(0);
//     }
// }

// @keyframes fade-out {
//     0% {
//         transform: translateY(0);
//     }
//     100% {
//         transform: translateY(-150%);
//     }
// }

.search-box {
  position: relative;
  width: 100%;
  //   border-bottom-right-radius: 20px;
  //   border-bottom-left-radius: 20px;
  min-height: 100px;
  max-height: 600px;
  overflow: scroll;
  background: #fff;
  z-index: 0;
}

.search-bar {
  width: 100%;
  height: 50px;
  position: relative;
  background: #fff;
  padding: 10px 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
  z-index: 3;
  transition: all 0.3s ease;
}

.search-bar-focus {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

// input.search-bar:focus {
//     border-bottom-left-radius: 0;
//     border-bottom-right-radius: 0;
// }

// .search-bar:before {
//     content: "";
//     position: absolute;
//     top: -23px;
//     left: 0px;
//     width: 0;
//     height: 0;
//     border-style: solid;
//     border-width: 23px 0 0 35px;
//     border-color: transparent transparent transparent rgba(100, 131, 216, .7);
// }

// .search-bar-border-right {
//     position: absolute;
//     top: -22px;
//     left: 0px;
//     border-bottom: 1px solid rgba(115, 139, 239, 0.7);
//     width: 44px;
//     transform: rotate(28deg);
//     transform-origin: top left;
//     z-index: 0;
// }

// .search-bar-border-left {
//     position: absolute;
//     top: -22px;
//     left: -0.5px;
//     border-bottom: 1px solid rgba(115, 139, 239, 0.7);
//     width: 21px;
//     transform: rotate(90deg);
//     transform-origin: top left;
//     z-index: 0;
// }

.search-block {
  //   display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 20px;
  overflow: hidden;
  position: relative;
  z-index: 2;
  cursor: pointer;
  //   border-top: 1px solid lightgray;
  animation: slide-bottom 1s forwards;
  transition: all 1s ease;
  min-height: 225px;
  max-width: 280px;
  min-width: 225px;
  //   max-height: 200px;
}

@keyframes slide-bottom {
  0% {
    transform: translateY(-80%);
  }
  100% {
    transform: translate(0%);
  }
}

.search-block:first-child {
  border-top: none;
}

.search-block:last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.mouse-on {
  background-color: #e4e8f5;
}

.mouse-out {
  background-color: #fff;
}

.search-text {
  display: inline-block;
  padding: 2px 30px 10px 15px;
  height: 100px;
  font-size: 10pt;
  line-height: 120%;
  text-overflow: ellipsis;
  overflow: hidden;
  border-collapse: collapse;
  font-family: system-ui;
}

.search-img {
  width: 95%;
  height: 95%;
  //   border: 1.5px solid lightgray;
  border-radius: 3px;
  //   max-height: 100px;
}

// .cart-right {
//   position: relative;
//   width: 43%;
//   margin-top: 20px;
//   margin-left: 80px;
//   min-height: 500px;
//   z-index: 1;
//   animation: slide-right 0.5s forwards;
// }

.cart-center {
  position: relative;
  width: 100%;
  margin-top: 20px;
  //   margin-left: 50px;
  //   margin-right: 50px;
  min-height: 250px;
  z-index: 1;
  //animation: slide-left 0.5s forwards;
}

// @keyframes slide-right {
//   0% {
//     transform: translateX(-10%);
//   }
//   100% {
//     transform: translate(0%);
//   }
// }

// @keyframes slide-left {
//   0% {
//     transform: translateX(100%);
//   }
//   100% {
//     transform: translateX(0%);
//   }
// }

.search-title {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 3px;
  font-weight: bold;
}

.search-channel {
  display: block;
  font-size: 8pt;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 5px;
}

.search-description {
  display: block;
  font-size: 10pt;
  text-overflow: ellipsis;
  overflow: hidden;
  //   word-break: keep-all;
  word-break: break-word;

  display: -webkit-box;
  -webkit-line-clamp: 2; // 원하는 라인수
  -webkit-box-orient: vertical;
}

.save-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 30px;
  padding: 5px;
  background-color: #6490d8;
  color: white;
  border: none;
  margin: 8px 0px;
}

.part-btn {
  background-color: transparent;
  color: gray;
  border: 1px solid lightgray;
}

.prev-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24pt;
  width: 3%;
  margin-right: 10px;
  border: 1px solid lightgray;
}

.next-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24pt;
  width: 3%;
  margin-left: 10px;
  border: 1px solid lightgray;
}

.playlist-title {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;

  display: -webkit-box;
  -webkit-line-clamp: 2; // 원하는 라인수
  -webkit-box-orient: vertical;
}
